{:id      :isaac.session.lantern
 :version "0.1.0"
 :factory isaac.foundation.module.protocol/module

 :isaac.agent/context-mode
 {:porthole {:factory isaac.session.lantern/porthole
             :requires {:observers #{:logbook}}}}
 :isaac.agent/session-observer
 {:logbook {:factory isaac.session.lantern/logbook}}

 :isaac.config/schema
 {:lantern {:schema {:type :map
                     :description "Lantern fixture module"
                     :schema {:logbook {:type :map
                                        :schema {:fail {:type :boolean
                                                        :description "Throw on every event"}}}}}}}}
